{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "safari > 7"]
        },
        "modules": false,
        "useBuiltIns": "entry",
        "loose": true
      }
    ],
    "stage-2"
  ],
  "plugins": [["replace-import-path", {
    "src": "main/mixins/i18n",
    "dest": "fm-vue-ui/lib/mixins/i18n.js"
  }]]
}
