.model-dialog-wrap {
    position: fixed;
    z-index: 100002;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    //background-color: rgba(0, 0, 0, 0.298);
}

.model-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.dialog-close-icon {
    position: absolute;
    top: 21px;
    right: 20px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    &::before, &:after {
        position: absolute;
        left: 2px;
        content: '';
        width: 2px;
        height: 10px;
        background: #9c9c9d;
    }
    &::before {
        transform: rotate(-45deg);
    }
    &::after {
        transform: rotate(45deg);
    }
    &:hover {
        &::before, &:after {
            background: #ff6200;
        }
    }
}

.model-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    background: #fff;
    transform: translate(-150px, -50%);
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 3px;
    border-top: 2px solid #ff8030;
    .dialog-top {
        width: 300px;
        height: 50px;
        line-height: 50px;
        background: #f5f6fa;
        h1 {
            font-size: 15px;
            margin: 0 0 0 20px;
        }
    }
    .dialog-middle {
        font-weight: 400;
        width: 260px;
        margin: 20px;
        text-align: center;
        .dialog-middle-icon {
            display: inline-block;
            position: relative;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            &.dialog-success-icon {
                border: 2px solid #22ac75;
                &::before {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    content: "";
                    width: 13px;
                    height: 6px;
                    border: 2px solid #22ac75;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                }
            }
            &.dialog-failure-icon {
                border: 2px solid #fc464a;
                &:before {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    margin-left: -1px;
                    content: "";
                    height: 12px;
                    width: 3px;
                    background: #fc464a;
                    border-radius: 2px;
                }
                &:after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    margin-left: -1px;
                    bottom: 5px;
                    height: 3px;
                    width: 3px;
                    background: #fc464a;
                    border-radius: 1px;
                }
            }
        }
        span {
            display: block;
            font-size: 16px;
            line-height: 22px;
        }
    }
    .dialog-bottom {
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
        span {
            display: inline-block;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 15px;
            border-radius: 2px;
            &.confirm {
                background: #ff6200;
                color: #fff;
                &:hover {
                    opacity: 0.8;
                }
            }
            &.cancel {
                border: 1px solid #e1e2e6;
                color: #333;
                margin-left: 10px;
                &:hover {
                    border: 1px solid #ff6200;
                    color: #ff6200;
                }
            }
        }
    }
}

// transition
.dialog-enter {
    opacity: 0;
}

.dialog-enter-active {
    transition: all .5s ease;
}

.dialog-leave {
    opacity: 1;
}

.dialog-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    opacity: 0;
}
