@import "./common/var.less";

.fm-btn {
    display: inline-block;
    width: auto;
    line-height: 24px;
    background: @background-color-white;
    border: 1px solid #e1e2e6;
    text-align: center;
    color: @color-regular-2;
    font-size: @min-font-size;
    font-weight: 400;
    padding: 0 7px;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
        border-color: @border-primary-color;
        color: @color-primary;
    }
    &.fm-btn-disabled {
        background: @background-color-disabled;
        color: @color-regular;
        border: 1px solid @border-regular-color;
    }
}

.fm-btn-success {
    border: 1px solid @border-primary-color;
    color: @color-primary;
    &:hover {
        color: @color-white;
        text-decoration: none;
        background: @background-color-light-1;
    }
    &.fm-btn-disabled {
        background: @background-color-disabled;
        color: @color-regular;
        border: 1px solid @border-regular-color;
    }
}

.fm-btn-default {
    border: 1px solid @border-regular-color-1;
    color: @color-regular-2;
    &:hover {
        color: @color-white;
        text-decoration: none;
        border-color: @border-regular-color-1;
        background: @border-regular-color-1;
    }
    &.fm-btn-disabled {
        background: @background-color-disabled;
        color: @color-regular;
        border: 1px solid @border-regular-color;
    }
}

.fm-btn-primary {
    color: @color-white;
    background: @color-primary;
    border: 1px solid @border-primary-color;
    font-weight: 500;
    &:hover {
        opacity: 0.9;
        color: @color-white;
    }
    &.fm-btn-disabled {
        background: @background-color-disabled;
        color: @color-regular;
        border: 1px solid @border-regular-color;
        &:hover {
            opacity: 1;
        }
    }
}

.fm-btn-large {
    min-width: 110px;
    height: 35px;
    line-height: 35px;
    font-size: @mid-font-size;
}
