@import 'common/var.less';

.fm-zoom-in-top-enter-active,
.fm-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: @all-transition;
  transform-origin: center top;
}
.fm-zoom-in-top-enter,
.fm-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.fm-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
    user-select: none;
    min-width: 180px;
    height: 32px;
    cursor: pointer;
    background: @background-color-white;
    border-radius: @border-radius-max;
    border: @border-width-base solid @background-color-light-4;
    &:hover {
        border-color: @border-regular-color-1;
    }
    &.is-disabled {
        background: @background-color-disabled;
        cursor: not-allowed;
        &:hover {
            border-color: @background-color-light-4;
        }
        .fm-selected-trigger {
            cursor: not-allowed;
        }
    }
    .fm-selected-trigger {
        position: relative;
        display: block;
        font-size: @min-font-size;
        cursor: pointer;
        margin: 0;
        overflow: hidden;
        padding: 7px 20px 7px 12px;
    }
    .fm-select-icon {
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 6px;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: @border-regular-color-1;
        transition: all .3s linear;
        transform-origin: center;
        &.active {
            margin-top: -8px;
            transform: rotate(180deg)
        }
    }
}

.fm-selectable-list-wrap {
    position: absolute;
    width: 100%;
    z-index: @z-index-popper;
    border: @border-width-base solid @border-regular-color;
    border-radius: 2px;
    background-color: @background-color-white;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
    box-sizing: border-box;
    margin: 5px 0;
    overflow: hidden;
    p {
        padding: 6px 0;
        margin: 0;
        text-align: center;
        color: @color-regular-3;
        font-size: @normal-font-size;
    }
}

.fm-selectable-list {
    position: relative;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 275px;
    width: 108%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: @normal-font-size;
    .fm-select-option {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        height: 32px;
        padding: 6px 15px 8px 10px;
        box-sizing: border-box;
        &.hover {
            background-color: #e4e8f1;
        }
        &.selected {
            // background-color: #eaeaea;
            background-color: @background-color-primary;
            color: @color-white 
        }
    }
}