@import "./var.less";

// 通用的 trasition
.fm-common-enter {
    opacity: 0;
}

.fm-common-enter-active {
    transition: all .5s ease;
}

.fm-common-leave {
    opacity: 1;
}

.fm-common-leave-active {
    transition: @all-transition;
    opacity: 0;
}
