// Transition
@all-transition: all .3s cubic-bezier(.645,.045,.355,1);
@fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
@fade-linear-transition: opacity 200ms linear;
@md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
@border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
@color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);

// Fonts
@min-font-size: 12px;
@normal-font-size: 14px;
@mid-font-size: 16px;
@max-font-size: 18px;
@large-font-size: 20px;

@font-weight-normal: 400;
@font-weight-mid: 500;
@font-weight-max: 700;

// Colors
@color-white: #fff;
@color-black: #000;

@color-primary: #ff6200;
@color-regular: #a1a4ad;
@color-regular-1: #333;
@color-regular-2: #555;
@color-regular-3: #999;
@color-regular-4: #777;
@color-regular-5: #ffa871;
@color-placeholder: #b4bccc;
// Icon Colors
@icon-color-success: #1fbb95;
@icon-color-info: #999;
@icon-color-warning: #f5ab3b;
@icon-color-error: #eb4e5c;

// Background
@background-color-base: #fafafc;
@background-color-transparent: transparent;
@background-color-mask: rgba(0, 0, 0, 0.298);
@background-color-white: @color-white;
@background-color-primary: @color-primary;
@background-color-disabled: #eceff5;
@background-color-gray: #f5f5f7;
@background-color-light-1: @color-primary;
@background-color-light-2: #f5f6fa;
@background-color-light-3: #9c9c9d;
@background-color-light-4: #e1e2e6;
@background-color-light-5: @color-regular-5;

// Border
@border-primary-color: @color-primary;
@border-white-color: @color-white;
@border-regular-color-1: @color-regular;
@border-regular-color: #e1e2e6;
@border-regular-color-2: #ff8030;
@border-regular-color-3: #c6c8cf;
@border-regular-color-4: @color-regular-5;
@border-regular-color-5: #e9e9e9;

@border-width-base: 1px;
@border-width-normal: 2px;
@border-radius-base: 1px;
@border-radius-normal: 2px;
@border-radius-max: 4px;

// z-index
@z-index-normal: 1;
@z-index-regular: 5;
@z-index-nav: 150;
@z-index-mask: 1500;
@z-index-popper: 15000;
